body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  color: #222;
}

a {
  color: #4a90e2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #DFCDAA;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: #C5A667;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-bottom: 30px;
  box-shadow: 4px 2px 8px rgba(0,0,0,0.05);
 
}

.feature {
  box-shadow: 4px 2px 8px rgba(0,0,0,0.05);
}

highlight:box-shadow: {
  box-shadow: 4px 2px 8px rgba(0,0,0,0.05);
}

main {
  max-width: 800px;
  margin: auto;
}

@media (max-width: 600px) {
  button {a
    width: 100%;
  }

  main {
    padding: 20px;
  }
}


